<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission
    android:name="android.permission.BACKUP"
    tools:ignore="ProtectedPermissions" />

  <uses-permission
    android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
    tools:ignore="ScopedStorage" />

  <uses-permission
    android:name="android.permission.QUERY_ALL_PACKAGES"
    tools:ignore="QueryAllPackagesPermission" />

  <uses-permission
    android:name="android.permission.INSTALL_PACKAGES"
    tools:ignore="ProtectedPermissions" />

  <application
    android:name=".BackupApplication"
    android:allowBackup="false"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    tools:targetApi="34">

    <activity
      android:name=".ui.screen.main.MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".ui.screen.settings.SettingsActivity"
      android:exported="true" />

    <activity
      android:name=".ui.screen.backup.BackupActivity"
      android:exported="true" />

    <activity
      android:name=".ui.screen.backup.initialize.BackupInitializationActivity"
      android:exported="true" />

    <activity
      android:name=".ui.screen.backup.initialize.password.BackupPasswordGeneratedActivity"
      android:exported="true" />

    <activity
      android:name=".ui.screen.backup.initialize.location.InitializeLocationActivity"
      android:exported="true" />

    <activity
      android:name=".ui.screen.restore.RestoreActivity"
      android:exported="true" />

    <service
      android:name=".transport.AppBackupTransportService"
      android:exported="false">
      <intent-filter>
        <action android:name="android.backup.TRANSPORT_HOST" />
      </intent-filter>
    </service>
  </application>
</manifest>
